@media screen and (max-width: 944px) {
  /************* header scroll effect *************/
  header.sticky {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .logo2{
    display: none;
  }
  .logo{
    display: block;
    margin-left: 20px;
  }
  label{
    display: block;
    margin-top: -10px;
  }
  .drop-btn-wp{
    color: black;
  }
  header.sticky .menu2{
    margin-top: 6px;
  }

  header{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
  }
  header.sticky .logo a{
    color: rgb(0, 0, 0);
  }
  header.sticky .drop-content a{
    color: rgb(0, 0, 0);
  }
  header.sticky nav ul li a{
    color: rgb(0, 0, 0);
  }
  header.sticky .menu2{
    opacity: 1;
  }
  .menu2{
    transform: translateY(-38px);
    opacity: 0;
    transition: all .40s ease;
  }


  nav{
    justify-content: space-between !important;
  }
  nav .menu{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.60s ease-in;
    overflow: auto;
  }
  .menu li a:focus{
    color: rgb(189, 189, 189);
  }
  header nav .menu .nav-links{
    flex-direction: column;
  }
  header nav .menu .nav-links li{
    list-style-type: none;
    margin: 18px;
  }
  header nav ul li a{
    color: rgb(0, 0, 0);
  }
  .close-menu{
    margin: 34px;
  }
  .open-menu{
    margin-right: 20px;
  }

  input:checked ~ .menu{
    transform: translateX(0);
  }

  
/***dropdowm container****/
.drop-content{
  left: 0;
  position: relative;
}

/*****see more photo links****/
.more-links{
  width: 70%;
}

/****footer contact section*****/
footer .contact-info{
  width: 70% !important;
}
}


@media screen and (max-width: 800px) {
  
/****photo gallery****/

.gallery .image{
  width: 47%;
}
}


/*********** MOBILE VIEW *************/
@media screen and (max-width: 600px) {
  html{font-size: 90%;}
  
  label{
    height: 30px;
    width: 30px;
  }
  
/************* logo *************/
.logo a{
  font-size: 30px;
}
  
.mySlides .text h2{
  font-size: 27px;
}

/************** Number text (1/3 etc) ****************/
.numbertext {
  top: 92%;
  flex-direction: row;
  right: 30%;
}

.numbertext p{
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}
.numbertext p:nth-child(2) {
  border-left: 1px solid white;
}


/****a little of oyokunyi (intro-text)***/
.intro-text{
  width: 85%;
}
.intro-text h1{
  font-size: 20px;
}

/****hr line on top of title***/
.tl-tp{
  width: 40%;
}

/****my-works side***/
.work-wrap .box{
  width: 100%;
  margin-bottom: 20px;
}

/*****insta-short-link****/

.image-flex{
  flex-wrap: wrap;
}
.image-flex .image{
  width: 50%;
  height: 50%;
}

/****footer*****/
.footer-content-wrap{
  flex-direction: column;
}
footer .footer-content-wrap .col{
  width: 100% !important;
}

/***footer botoom items****/
.footer-bottom{
  flex-direction: column-reverse;
  text-align: center;
}


/*****see more photo links****/
.more-links{
  width: 75%;
}

.more-links a{
  width: 47%;
}
.more-links a h2{
  font-size: 17px;
}

/****about page****/
.about{
  flex-direction: column;
  align-items: center;
}

/***image**/
.about .image{
  width: 80%;
}

.sv-abt .image{
  margin-top: 20px;
}

/***about me text area***/
.about .about-text{
  width: 100%;
}
.about .txt1{
  padding-top: 30px;
}


/****testimonials******/
.testimonial-wrap{
  width: 100%;
}
.feeds .image{
  width: 23%;
}

/*******footer-bottom**********/
.footer-bottom .text{
  margin-top: 10px;
  width: 100%;
}
}



@media screen and (max-width: 420px) {
  /************** Number text (1/3 etc) ****************/
  .numbertext {
    right: 25%;
  }


  /****photo gallery****/

.gallery .image{
  width: 100% !important;
}

/************ commercial page image *************/
.gallery .sml-cm-img{
  width: 100%;
}

/*****seee more photo links****/
.more-links a{
  width: 100%;
}
.more-links a:nth-child(2){
  margin-top: 35px;
}

/****about page****/
.about .image{
  width: 90%;
}

/****testimonials******/
.testimonial-wrap{
  width: 100%;
}
.feeds .image{
  width: 33%;
}

/****footer contact section*****/
footer .contact-info{
  margin-top: 15px;
}

}



@media screen and (max-width: 375px) {
  .logo a{
    font-size: 22px;
  }
  /************** Number text (1/3 etc) ****************/
  .numbertext {
    right: 25%;
  }

  
footer .contact-info .icon{
  display: none;
}
/***contact text***/
footer .contact-info li .text{
  padding-left: 0;
  width: 100%;
}

}